body{
  margin: 0;
  padding: 0;
  background: #34495e;
}
.slidershow{
  width: 700px;
  height: 400px;
  overflow: hidden;
}
.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.navigation{
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar{
  width: 10px;
  height: 10px;
    
   border: 2px solid #fff;
  margin: 6px;
border-radius:10px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover{
  background: #fff;
  box-shadow: 0 0 10px rgba(255,255,255,1),
              0 0 20px rgba(255,255,255,1),
              0 0 30px rgba(255,255,255,1),
              0 0 0 75px rgba(255,255,255,0.05),
              0 0 0 60px rgba(255,255,255,0.05),
              0 0 0 45px rgba(255,255,255,0.05),
              0 0 0 30px rgba(255,255,255,0.05),
              0 0 0 15px rgba(255,255,255,0.05);
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
    position: relative;
    margin: 0 0 0 0 -800px;
    
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    

}

.slide{
  width: 20%;
  transition: 1.5s;
}


/*

@-webkit-keyframes slide_animation{
     0%{right:0px;}
     5%{right:0px;}
     10%{right:800px;}
    15%{right:800px;}
    20%{right:1600px;}
    25%{right:1600px;}
    30%{right:2400px;}
   35%{right:2400px;}
    40%{right:3200px;}
    45%{right:3200px;}

    55%{right:2400px;}
    60%{right:2400px;}
    65%{right:1600px;}
    70%{right:1600px;}
    75%{right:800px;}
    80%{right:800px;}
    85%{right:0px;}
    90%{right:0px;}
    
}

*/


.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0px;
}
#r2:checked ~ .s1{
  margin-left: -800px;
}
#r3:checked ~ .s1{
  margin-left: -1600px;
}
#r4:checked ~ .s1{
  margin-left: -2400px;
}
#r5:checked ~ .s1{
  margin-left: -3200px;
}




/* radio button glow code */




